flask
flask_login
flask_migrate
flask_wtf
flask_sqlalchemy
email_validator
gunicorn
bs4
fake-useragent
Flask-Cors
Flask-Session
Flask-SocketIO
requests
twilio
utils
pandas
numpy
tensorflow
keras
nltk
newspaper3k

