beautifulsoup4==4.8.0
bs4==0.0.1
fake-useragent==0.1.11
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-Session==0.3.1
Flask-SocketIO==4.2.1
requests==2.21.0
responses==0.10.12
twilio==6.25.2
utils==1.0.1
websockets==8.1

