{% extends "base-site.html" %}

{% block title %} Development Team {% endblock %} 

{% block content %}

    <div class="my-3 my-md-5">
        <div class="container">
          <div class="page-header">
            <h1 class="page-title">
              Development Team : CyberBots
            </h1>
            
          </div>
          <div class ="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <span class="avatar avatar-xxl mr-5" style="background-image: url(https://kiranmuddam.com/static/d2f559d9df52547561099ce4224f0420/9a82a/pic.webp)"></span>
                  <div class="media-body">
                    <h4 class="m-0">Kiran Babu Muddam</h4>
                    <p class="text-muted mb-0">Full stack developer</p>
                    <ul class="social-links list-inline mb-0 mt-2">
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/kiranmuddam" title="LinkedIn" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://twitter.com/kiranmuddam" title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://github.com/kiranmuddam" title="Github" data-toggle="tooltip"><i class="fa fa-github"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <span class="avatar avatar-xxl mr-5" style="background-image: url(https://avatars0.githubusercontent.com/u/37601331?s=400&u=1ae319dd3c0b399465bc90fb8948f80136fad164&v=4)"></span>
                  <div class="media-body">
                    <h4 class="m-0">Kaustubh Sharma</h4>
                    <p class="text-muted mb-0">Backend/ML Developer</p>
                    <ul class="social-links list-inline mb-0 mt-2">
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/kaustubh-sharma/" title="LinkedIn" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://twitter.com/kaustubhsh_" title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://github.com/kaustubhsh" title="Github" data-toggle="tooltip"><i class="fa fa-github"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <span class="avatar avatar-xxl mr-5" style="background-image: url(https://avatars1.githubusercontent.com/u/67474183?s=460&v=4)"></span>
                  <div class="media-body">
                    <h4 class="m-0">Sumit Sah</h4>
                    <p class="text-muted mb-0">Backend Developer</p>
                    <ul class="social-links list-inline mb-0 mt-2">
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/sumit-sah-4b577714a/" title="LinkedIn" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://github.com/Sumit-sah" title="Github" data-toggle="tooltip"><i class="fa fa-github"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <span class="avatar avatar-xxl mr-5" style="background-image: url(https://avatars1.githubusercontent.com/u/67474183?s=460&v=4)"></span>
                  <div class="media-body">
                    <h4 class="m-0">Nisarg Shah</h4>
                    <p class="text-muted mb-0">Backend Developer</p>
                    <ul class="social-links list-inline mb-0 mt-2">
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/nisarg-shah-b177b516b/" title="LinkedIn" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" title="Twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://github.com/niSarg1910" title="Github" data-toggle="tooltip"><i class="fa fa-github"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
         

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
